@page {
  /* size: A3 landscape; */
  size: 841mm 594mm;
  margin: 2cm 4cm;
}

@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("fonts/NotoSansJP-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("fonts/NotoSansJP-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("fonts/NotoSansJP-Bold.otf") format("opentype");
}

/* Define variables */
:root {
  --main-text-color: #333;
  --main-font-size: 12pt;
  --header-font-size: 20pt;
  --main-p-margin: 0.25rem;
  --main-line-height: 0.9rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  font-family: "NotoSansJP-Regular";
  font-size: var(--main-font-size);
  /* font-kerning: none; */
  /* font-variant-ligatures: no-common-ligatures; */
  color: var(--main-text-color);
}
/* .en {
  font-size: 12pt;
  transform-origin: 0 0;
  transform: scale(0.5);
} */
.jp {
  font-family: "NotoSansJP-Regular";
}

.logo {
  width: 6cm;
}

.unit {
  page-break-after: always;
  page-break-inside: avoid;
}

table {
  border-collapse: collapse;
  /* border: 0.75pt solid #333; */
  height: 90%;
  width: 100%;
}
th,
td {
  border: 1.5pt solid #999;
  padding: 4pt;
  vertical-align: middle;
}
th {
  font-weight: normal;
  text-align: center;
}
thead th {
  font-weight: bold;
}
.empty {
  border: none;
}
table caption {
  text-align: left;
  margin-left: 8cm;
  margin-bottom: 8pt;
}

tbody tr {
  height: 2.4cm;
}

.level {
  width: 3cm;
}
.lesson {
  width: 4cm;
}

/* .target-label {
  width: 20cm;
} */
.vocab-label {
  width: 50%;
}

td .en {
  display: block;
  margin-bottom: 12pt;
}

.level5 .vocab {
  display: none;
}

.blank {
  letter-spacing: -4pt;
  margin-right: 2pt;
}
